<form id="register-form" method="post" action="/services/user">
<div class="row height480px">
    <div class="container">
        <div class="row height50">
            <h1 class="pl40">Register</h1>
        </div>

        <div class="row bgsilver">
            <div class="username_field">
                <div class="input_box green_bg">
                    <div class="user_icon"></div>
                </div>
                <input type="text" placeholder="Choose User Name" class="input_field input_green" id="register-username">
            </div>
            <div class="username_field">
                <div class="input_box green_bg">
                    <div class="user_icon"></div>
                </div>
                <input type="text" placeholder="First Name" class="input_field input_green" id="register-firstName">
            </div>
            <div class="username_field">
                <div class="input_box green_bg">
                    <div class="user_icon"></div>
                </div>
                <input type="text" placeholder="Last Name" class="input_field input_green" id="register-lastName">
            </div>
            <div class="clearfix"></div>
            <div class="password_field">
                <div class="input_box red_bg">
                    <div class="key_icon"></div>
                </div>
                <input type="password" placeholder="Enter a Password" class="input_field input_red" id="register-password">
            </div>
            <div class="password_field">
                <div class="input_box red_bg">
                    <div class="key_icon"></div>
                </div>
                <input type="password" placeholder="Confirm Password" class="input_field input_red" id="register-confirm">
            </div>
            <div class="clearfix"></div>


            <input type="submit" class="submit" value="Register">
        </div>
    </div>
</div>
</form>