
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
html,body,p,a,span,form,ul,li,input,select,img,aside,article,header,footer,label,h1,h2,h3,h4,div{ margin:0; padding:0;}
body{ background:#455666; font: 13px 'PT Sans', Arial, Helvetica, sans-serif; color:#fff;}
a{ text-decoration:none;}
ul,li{ list-style:none;}
.clearfix {*zoom: 1;}.clearfix:before,.clearfix:after { display: table;content: "";line-height: 0;}
.clearfix:after {clear: both;}
.logo{ width:280px; float:left;}

/* menuggg*/
a.menu1{ background:#eb4d3b; height:65px; width:100%; float:left; margin-top:1px;}
a.menu1 span{ background:url(../images/home.png) center no-repeat; width:45px; height:45px; margin-left:11px; margin-top:10px; margin-right:10px;
float:left;}
a.menu1 h2{ width:auto; font-size:16px; color:#fff; padding-top:10px; }
a.menu1 p{ width:auto; font-size:12px; color:#fff; padding-left:5px; float:left;}
a.menu1 div{background:url(../images/whitearrow.png); width:9px; height:14px; float:left;  position:relative; z-index:2; margin-left:300px;
margin-top:-32px;}

a.menu2{ background:#f2c212; height:65px; width:100%; float:left; margin-top:1px;}
a.menu2 span{ background:url(../images/aim.png) center no-repeat; width:45px; height:45px; margin-left:11px; margin-top:10px; margin-right:10px;
float:left;}
a.menu2 h2{ width:auto; font-size:16px; color:#fff; padding-top:10px; }
a.menu2 p{ width:auto; font-size:12px; color:#fff; padding-left:5px; float:left;}
a.menu2 div{ background:url(../images/whitearrow.png); width:9px; height:14px; float:left;  position:relative; z-index:2; margin-left:300px;
margin-top:-32px;}

a.menu3{ background:#1abd9c; height:65px; width:100%; float:left; margin-top:1px;}
a.menu3 span{ background:url(../images/all.png) center no-repeat; width:45px; height:45px; margin-left:11px; margin-top:10px; margin-right:10px;
float:left;}
a.menu3 h2{ width:auto; font-size:16px; color:#fff; padding-top:10px; }
a.menu3 p{ width:auto; font-size:12px; color:#fff; padding-left:5px; float:left;}
a.menu3 div{ background:url(../images/whitearrow.png); width:9px; height:14px; float:left;  position:relative; z-index:2; margin-left:300px;
margin-top:-32px;}

a.menu4{ background:#3399db; height:65px; width:100%; float:left; margin-top:1px;}
a.menu4 span{ background:url(../images/contact.png) center no-repeat; width:45px; height:45px; margin-left:11px; margin-top:10px; margin-right:10px;
float:left;}
a.menu4 h2{ width:auto; font-size:16px; color:#fff; padding-top:10px; }
a.menu4 p{ width:auto; font-size:12px; color:#fff; padding-left:5px; float:left;}
a.menu4 div{ background:url(../images/whitearrow.png); width:9px; height:14px; float:left;  position:relative; z-index:2; margin-left:300px;
margin-top:-32px;}


a.menu5{ background:#9c59b5; height:65px; width:100%; float:left; margin-top:1px;}
a.menu5 span{ background:url(../images/user.png) center no-repeat; width:45px; height:45px; margin-left:11px; margin-top:10px; margin-right:10px;
float:left;}
a.menu5 h2{ width:auto; font-size:16px; color:#fff; padding-top:10px; }
a.menu5 p{ width:auto; font-size:12px; color:#fff; padding-left:5px; float:left;}
a.menu5 div{background:url(../images/whitearrow.png); width:9px; height:14px; float:left;  position:relative; z-index:2; margin-left:300px;
margin-top:-32px;}
/* menuggg*/
.row{ width:100%; float:left;}
.menuicon{ float:left; height:40px; width:40px; float:left; background:#eb4d3b;}
.menuicon span{ background:url(../images/menu.png) no-repeat center; width:100%; float:left; margin-top:10px;}
.container{ width:320px; margin: 0 auto; float:none;}
.pt20{ padding-top:20px;}.pl40{ padding-left:40px;}
.height50{ height:50px;} .height40{ height:40px;}.height480px{ height:450px; margin-top:30px;} .height400px{ height:400px;}
.text30{ font-size:30px; text-align:center;}
a.signin{ width:206px; height:47px; line-height:47px; background: #3399db; 
border-radius:5px; -moz-border-radius:5px; float:left;-webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; 
margin-top:20px; font-size:18px; color:#fff;  font-weight:bold; margin-left:60px;}
a.signin > span{ background:url(../images/signup.png) no-repeat center; width:24px; height:29px; float:left; margin-left:20px; margin-top:7px;
margin-right:30px;}
a.register{width:206px; height:47px; line-height:47px; background:#eb4d3b; border-radius:5px; -moz-border-radius:5px;
-webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; margin-top:10px; margin-bottom:50px;  font-size:18px; 
color:#fff; float:left; margin-left:60px; font-weight:bold;}
a.register > span{ background:url(../images/reg.png) no-repeat center; width:24px; height:29px; float:left; margin-left:20px; margin-top:7px;
margin-right:30px; }

.bgsilver{ background:#ebedf0;}
.tm20{ margin-top:20px;}
.height30{ height:30px;}
/*form*/
.divider{ width:100%; clear:both; background:#fff; float:left; height:1px;}
.input_green{ width:190px; height:40px; border:2px solid #1cbd9c; margin-left:40px; margin-top:15px; padding-left:45px; outline:none; }
.input_red{ width:190px; height:40px; border:2px solid #ea4d3a; margin-left:40px; margin-top:15px; padding-left:45px;  outline:none;}
.user{ width:40px; height:44px; position:absolute; background:#1cbd9c url(../images/man.png) no-repeat center; margin-left:40px; margin-top:15px;}
.key{ width:40px; height:44px; position:absolute; background:#ea4d3a url(../images/key.png) no-repeat center; margin-left:40px; margin-top:15px;}
.submit{ width:290px; float:left; margin:20px 0px 20px 15px; background-color:#384b5c; font-size:15px; text-align:center; height:50px;
color:#fff; border:none; outline:none; cursor:pointer;}
.submit:hover{ background:#ea4d3a;}
.forgot{ font-size:14px;  color:#384b5c; float:right; padding-right:10px; padding-top:15px; padding-bottom:15px; font-weight:bold;}
.remember{font-size:15px;  color:#384b5c; float:left; margin-left:20px; background:url(../images/arrow.png) no-repeat right; padding-right:50px;
font-weight:bold;}
/* Check box */
.check {width: 20px; float:left; margin-left:50px;position: relative;}

.check label {cursor: pointer;position: absolute;width: 20px;height: 20px;margin-top:-2;margin-left:-13px;background:#384b5c;}
.check label:after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;
	content: '';position: absolute;width: 9px;height: 5px;background: transparent;top: 4px;left: 4px;
	border: 3px solid #fcfff4;border-top: none;border-right: none;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}

.check label:hover::after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);opacity: 0.3;}

.check input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	filter: alpha(opacity=100);	opacity: 1;}
	
#green::-webkit-input-placeholder { color:#1abd9c; font-size:14px; font-weight:bold;}
#green::-moz-placeholder { color:#1abd9c; font-size:14px; font-weight:bold;}
#red::-webkit-input-placeholder { color:#eb4d3b; font-size:14px; font-weight:bold; }
#red::-moz-placeholder { color:#eb4d3b; font-size:14px; font-weight:bold; }
.item{ width:100%; float:left;}
.mobilegroupheader{ width:100%; float:left; height:40px; background:#344149;}
.mobilegroupheader h1{ text-align:center;}
.menubar{ width:100%; float:left; height:42px; background:#1abd9c; border-bottom:2px solid #00a68d;}
.menubar .menu{ width:42px; height:42px; float:left; background:#eb4d3b url(../images/sprite1.png) no-repeat 7px 7px;}
.menubar .back{ width:97px; height:42px; float:right; background:#2473bf; color:#fff; font-size:20px; line-height:42px;} 
.menubar .back .backicon{ background:url(../images/sprite1.png) no-repeat -24px 7px; width:30px; float:left;}
.popup{ width:100%; float:left; background:#fff; height:88px;}
.popup .group_icon{ width:52px; height:66px; background:url(../images/sprite2.png) no-repeat 0 0; float:left; margin-left:10px; margin-top:10px;}
.popup .textsection{ width:223px; float:left; margin-top:10px; margin-left:10px;}
.popup .textsection p{ color:#455666; font-size:14px;}
.popup .close{ width:20px; height:20px; float:right; background:url(../images/sprite1.png) no-repeat -63px 0px; cursor:pointer;}
.mygroups{ width:100%; float:left; height:40px; background:#344149; border-top:2px solid #00a68d; cursor:pointer;}
.mygroups .icon{ width:40px; height:40px; float:left; background:url(../images/sprite1.png) no-repeat -78px 7px;}
.mygroups .text{ font-size:16px; float:left; color:#fff; margin-left:6px; line-height:40px; font-weight:bold;}
.list_menu{ width:100%; height:215px; float:left; overflow:auto; overflow-x:hidden; outline:none;}
.list_menu ul{ width:315px; float:left;}
.list_menu ul li{ border:1px solid #d3d3d3; height:40px; width:100%; background-color:#f2f2f2; float:left; cursor:pointer;}
.list_menu ul li a{ font-size:16px; color:#52575e; line-height:40px;}
.list_menuul li:nth-child(even){ background-color:#f2f2f2;}
.list_menu ul li:nth-child(odd){background-color:#fff;}
.list_menu ul li .bullet{background:url(../images/sprite_hover.png) no-repeat -27px 0px; width:27px; float:left; height:27px; margin-left:2px;
margin-top:5px; color:#fff; font-size:10px; text-align:center; line-height:27px;}
.list_menu ul li:hover{ opacity:0.9;}
.list_menu ul li:hover .bullet{background:url(../images/sprite_hover.png) no-repeat 0px 0px; width:27px; float:left; height:27px; margin-left:2px;
margin-top:5px;}
.list_menu ul li:active .imagebox{background:url(../images/imagebox.png) no-repeat -37px 0px; width:36px; float:left; height:37px; margin-left:6px;
margin-top:2px; margin-right:10px;}
.list_menu ul li .imagebox{background:url(../images/imagebox.png) no-repeat -37px 0px; width:36px; float:left; height:37px; margin-left:5px;
margin-top:1px; margin-right:10px;}
.list_menu ul li .imagebox1{background:url(../images/imagebox.png) no-repeat 0px 0px; width:36px; float:left; height:37px; margin-left:5px;
margin-top:1px; margin-right:10px;}

.list_menu ul li:active .imagebox1{background:url(../images/imagebox.png) no-repeat 0px 0px; width:36px; float:left; height:37px; margin-left:6px;
margin-top:2px; margin-right:10px;}

.list_menu ul li .arrow{ background:url(../images/arrow.png); width:11px; height:15px; float:right; margin-right:20px; margin-top:10px;}
.row .join{ width:163px; height:50px; float:left; color:#fff; font-size:18px; text-align:center; line-height:50px; background:#2473bf; font-weight:bold;}
.row .create{ width:157px; height:50px; float:left; color:#fff; font-size:18px;  line-height:50px; background:#eb4d3b; font-weight:bold;}
.row .create .plusicon{ height:26px; width:26px; float:left; background:url(../images/sprite1.png) no-repeat -120px 0; margin-top:10px; margin-left:10px;}